[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "themes/hugo-sustain"]
	path = themes/hugo-sustain
	url = https://github.com/gomex/hugo-sustain.git
